h1 {
    text-decoration-color: aliceblue;
    
}
tr {
    text-indent: 60px;
    text-align: center;
}

div {
    width: 730px;
  height: 130px;
  
}
#size {
    width: 730px;
  height: 20px;
  word-spacing: 90px;
}