
#tech {
    margin-inline-start: 50%;
   margin-right: 10%;
}

h1 {
    margin-inline-start: 50%;
    text-align:center;
}
p {
    margin-left: 40%;
    text-align: center;
}
div {
    margin-left: 40%;
    text-align: center;
    
}
button {
   margin-left: 40%;
    text-align: center;
}
#Signup {
    margin-inline-start: 35%;
  margin-right:80%;
  background-color: black;   
  color: white;              
  padding: 8px 70px;         
  border: none;               
  border-radius: 200px;         
  cursor: pointer;            
  display: inline-block;      
  font-size: 10px;
}
#back {
   margin-inline-start: 50%;
   margin-right: 10%;

}

 
#Signup1 {
    margin-inline-start: 35%;
    margin-right: 30%;
  background-color: black;   
  color: white;              
  padding: 15px 70px;         
  border: none;               
  border-radius: 200px;         
  cursor: pointer;            
  display: inline-block;      
   font-size: 10px;
   
}

#back1 {
   margin-inline-start: 50%;
   margin-right: 15%;

}

#back2 {
   margin-inline-start: 50%;
   margin-right: 10%;

}

#small {
    font-size: 70%;
}

#small1  {
    font-size: 70%;
}

#pic {
      position: absolute;
  top: 0px;
  height: 400px;
  right: 390px;
  margin: 15px;
  font-size: 10px;
  
}

#pic1 {
      position: absolute;
  top: 600px;
  height: 400px;
  right: 400px;
  font-size: 10px;
  margin: 5px;
  
}

#size
{
    font-size: 10px;
    
}

#size1
{
    font-size: 10px;
}

#size2
{
    font-size: 10px;
}